<html>
<head>

</head>
<body>
<h1 style="color: red">Welcome Mail</h1>
<h2>Email id of the student is USER></h2>
<h2>Hello USER, you are welcomed on this site.</h2>
<h2>Your roll no is your username which is USER.</h2>
<h2>Total no. of customers are USER</h2>
<h4>Regards Zeel</h4>
<h4>CEO of Google</h4>
<div><%= image_tag "5636721.jpg", style: 'height: 200px; width: 200px' %></div>
<br>
<%= link_to "Home", root_url %>
</body>
</html>