<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Product price:</strong>
    <%= product.product_price %>
  </p>

</div>
